@model CinemaManagment.Models.Reservation

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Reservation</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Creator Id:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatorId)
        </dd>
        <dt class = "col-sm-2">
            Creator First Name:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatorFirstName)
        </dd>
        <dt class = "col-sm-2">
            Creator Last Name:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatorLastName)
        </dd>
        <dt class = "col-sm-2">
            Movie Title:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Show.MovieTitle)
        </dd>
        <dt class = "col-sm-2">
            Seat Number:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SeatNr)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
